<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string>7FDD3D1C-38EA-46CF-8B46-314ECF5F240C</string>
	</array>
	<key>NSAccessorySetupBluetoothCompanyIdentifiers</key>
	<array>
		<string>FFFF</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
